/* site */
p, li { font-family: Lato, sans-serif; font-weight: 300; font-size: 16px; margin:0; padding:0; color:#000 }
h1 { font-weight: 700;  }
h1, h2, h3, h4, h5, h6 { font-family: Sintony, sans-serif; font-weight: 400; color: #000 }
body { display: table; width: 100%; margin: 0; font-size: 1em; line-height: 1.4; }
ul { list-style-type: none }

.vspace {
    line-height: 1em;
}

/* game */

#screen { display: inline-block; background: #fff; margin: auto auto auto auto; }
#screen-canvas { width:640px; height:650px; }
#timerbar { border-radius: 0 0 10px 10px; }
#maincolumn { display: table-cell; width: 100vw; height: 100vh; vertical-align: middle; }
#splash { width: 600; margin: auto; }
.guide text { font-size: 7pt; color:#000; margin: 0; padding: 0 }

/* out-of-game UI */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    outline: 0;
}

.btn-cta {
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-width: 0 0 5px 0;
    border-radius: 10px;
    color: #fff;
    font-family: Sintony, sans-serif;
    font-size: 20px;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
}

.btn-cta:hover {
    background-color: #DDFFAB;
    border-color: #5cb85c;
    color: #000;
}

.btn-cta:active {
    background-color: #5cb85c;
    padding-top: 8px;
    padding-bottom: 9px; /* 4 + 5 */
    color: #fff;
    border-width: 0 0 0 0;
}

/* boilerplate */
::-moz-selection { background: #0DAD6D; color: #fff; text-shadow: none; }
::selection { background: #0DAD6D; color: #fff; text-shadow: none; }
