/* site */
p, li { font-family: Lato, sans-serif; font-weight: 300; font-size: 16px; margin:0; padding:0; color:#000 }
h1 { font-weight: 700;  }
h2, h3, h4, h5, h6 { font-family: Sintony, sans-serif; font-weight: 400; color: #000 }
body { background: #E1F5C4; margin: 0; font-size: 1em; line-height: 1.4; }
ul { list-style-type: none }

.vspace {
    line-height: 1em;
}

/* game */
#screen { width:600px; height:610px; background: #fff; border-radius: 0 0 10px 10px; margin: 0 auto auto auto; }
#timerbar { border-radius: 0 0 10px 10px; }
text { cursor: default; }
.guide text { font-size: 7pt; color:#000; margin: 0; padding: 0 }

/* boilerplate */
::-moz-selection { background: #0DAD6D; color: #fff; text-shadow: none; }
::selection { background: #0DAD6D; color: #fff; text-shadow: none; }
